html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ecf1fd;
  opacity: 0.2;
  background-size: 20% 20%;
  background-image: repeating-linear-gradient(to right, #ff023f, #ff023f 1px, #ecf1fd 1px, #ecf1fd);  
  z-index: -1; 
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
  background-color: transparent;
  backdrop-filter: none; 
  -webkit-backdrop-filter: none; 

}

.navbar.active {
  transform: translateY(0);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}


.logo-text {
  font-weight: bold;
  color: #ff023f;
  font-size: 1.8rem; 
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-grow: 1;
  
}

nav ul li {
  padding: 2rem;
}

nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #7b7e95;
  font-size: small;
  letter-spacing: 0.1em;
}


.active {
  color: #ff023f;
  pointer-events: none;
}

nav ul li a:hover {
  color: #ff023f;
}

#home {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
}

.intro {
  text-align: left; 
  width: 60%; 
  padding: 0 0 0 20px;
  margin-top: -2.5%;
}

.intro h6 {
  font-size: 14px;
  letter-spacing: 0.2em;
  font-weight: 600;
  margin-bottom: -75px;
  color: #3f4256;
}

.intro h3 {
  font-size: 6rem;
  margin-bottom: -10px;
  margin-left: -5px;
  color: #3f4256;
}

.intro h5 {
  font-weight: 400;
  font-size: 1rem;
  color: #3f4256;
  line-height: 25px; 
  padding-bottom: 50px;
  width: 65%;
}

.intro span {
  color: #ff023f;
}

.mainBtn{
  text-align: left;
  width: 60%; 
  padding-left: 20px; 
}

.btnLink {
  text-decoration: none;
  color: #ecf1fd;
  background-color: #ff023f;
  border-color: #ff023f;
  border-style: solid;
  border-width: 1px;
  padding: 10px 30px;
  font-size: small;
  letter-spacing: 0.2em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  
}

.btn2Link {
  text-decoration: none;
  color: #3f4256;
  border-color: #ff023f;
  border-style: solid;
  border-width: 1px;
  padding: 10px 30px;
  font-size: small;
  letter-spacing: 0.2em;
  font-weight: 600;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.btnLink:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 30px rgba(255, 2, 63, .5);
}

.socials {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
}

.fa-brands {
  font-size: 24px;
  margin: 1rem;
  color: #3f4256;
}

.scroll-down{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px; 
  padding: 10px;
}

.scroll-down p {
  font-size: small;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #3f4256;
  writing-mode: vertical-lr;
}

.fa-solid {
  padding-left: 3px;
}

/* about*/

#about {
  padding: 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 10%;
  display: flex;
  align-items: center;
}

.picture img {
  max-width: 300px;
  height: auto;
}

.aboutMe {
  text-align: left;
  width: 80%; /* Increase the width to make the box wider */
  padding-left: 10%;
}

.aboutMe h3 {
  color: #ff023f;
  font-size: 2rem; /* Adjust as needed */
}

.aboutMe h5 {
  font-weight: 400;
  font-size: 1rem;
  color: #3f4256;
  line-height: 25px; 
}

.aboutMe .mainBtn {
  margin: 80px 0 0 -20px;
}


